*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(Desktop\ -\ 1.png);
    background-size: cover;
    background: no-repeat repeat-x repeat-y;
}

.back-button{
    padding-top: 100px;
    padding-left: 300px;
}

.back-button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    height: 20px;
    width: 150px;
}

.back-button a:hover{
    background-color: rgb(70, 70, 70);
}

.User-acc{
    margin: 0 auto;
    width: 1000px;
}

.User-acc h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: white;
}

.User-acc-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    transition: box-shadow 0.5s;
}

.User-acc-info:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 9px, rgba(0, 0, 0, 0.23) 0px 5px 9px;
}

.User-acc-info-tel, .User-acc-info-email{
    display: flex;
    gap: 10px;
    align-items: center;
}

.User-acc button{
    border: none;
    background-color: #00AC54;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.User-acc button:hover{
    background-color: #008f45;
}

.User-App{
    margin: 0 auto;
    width: 950px;
}

.User-App-h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

.User-acc-app-active h3{
    margin-bottom: 20px;
}

.User-acc-app-active{
    overflow-y: auto;
    width: 900px;
    margin: 0 auto;
    height: 400px;
}

.User-acc-app-active::-webkit-scrollbar {
    width: 0;
}

.User-acc-app-active-card{
    height: 120px;
    width: 850px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    background-color: rgb(31, 31, 31);
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    justify-content: space-between;
}

.User-acc-app-card-edit button{
    border: none;
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 110px;
}

.User-acc-app-card-edit button:hover{
    background-color: #dddddddc;
}