*{
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url(Desktop\ -\ 1.png);
    background-size: cover;
    background: no-repeat repeat-x repeat-y;
}

.main{
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1,h2,h3{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    padding-bottom: 60px;
}

h3{
    font-size: 25px;
}

form a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.39);
    padding-right: 80px;
    font-size: 20px;
}

input[type=text],input[type=password],input[type=email]{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    border: none;
}

input[type=submit]{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

p{
    color: red;
}