*{
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 12px;
    padding-top: 200px;
}

input{
    width: 220px;
    height: 25px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

input[type=text],input[type=password],input[type=email],input[type=tel]{
    background-color: blanchedalmond;
}

a{
    color: black;
    padding-right: 165px;
}